@model IEnumerable<AppVendasWeb.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-5 text-light my-5">Cliente</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-light d-inline-flex align-items-center">
        <svg class="me-2" bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar"></svg>
        Adicionar
    </a>
</p>
<div class="table-responsive">
    <table class="table table-borderless table-striped table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VendaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataVenda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotaFiscal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClienteID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataVenda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NotaFiscal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClienteID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                    </td>

                    <td class="text-end">
                        <a class="btn btn-outline-info" asp-controller="itensDaVenda" asp-action="Create" asp-route-id="@item.VendaId">
                            <svg class="me-2" bootstrap-icon="PlusLg" width="20" height="20" aria-label="Adicionar"></svg>
                            Novo Item
                        </a>
                    <td>
                        <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.VendaId">
                            <svg bootstrap-icon="PencilFill" width="16" height="16" aria-label="Alarms"></svg>
                            Editar
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="Delete" asp-route-id="@item.VendaId">
                            <svg bootstrap-icon="Trash2" width="16" height="16" aria-label="Alarms"></svg>
                            Deletar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

